<div *ngIf="hero">


  <h5>
  {{hero.name| uppercase}} Details
  </h5>
  
  <div>
  
  <span>
      ID :
  </span>
  
  {{hero.id}}
  
  </div>
  
  <div>
  
  <span>
      Name :
  </span>
  
  {{hero.name }}
  
  </div>
  
  <div>
      <label>
          Name :
          <input 
          [(ngModel)]="hero.name" placceholder = "name">
      </label> 
  </div>
  </div>